<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ViewCreating</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="text-center">
    <h1 style="margin-top: 50px;">Lista studenata</h1>
    <h4 style="margin-top: 50px;">Sortiraj po:</h4>
    @using (Html.BeginForm("SortStudenti", "Uprava", FormMethod.Post))
    {
        <select onchange="dlSortAction" style="width: 300px;margin-top: 20px;">
            <optgroup label="Sortiraj po">
                <option value="12" selected="">Fakultet</option>
                <option value="13">Kanton</option>
            </optgroup>
        </select>

        <button class="btn btn-primary border rounded" type="submit" style="padding: 6px;margin: 15px;padding-left: 23;font-size: 20px;">Osvježi</button>
    }

        <div class="table-responsive" style="margin-top: 50px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ime i prezime</th>
                        <th>Paviljon</th>
                        <th>Soba</th>
                        <th>Kanton</th>
                        <th>Fakultet</th>
                        <th>Podaci</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in ViewBag.ListaStudenata)
                    {
                    <tr>
                        <td>@student.LicniPodaci.Ime @student.LicniPodaci.Prezime</td>
                        <td>@student.Soba.Paviljon.Naziv</td>
                        <td>@student.Soba.BrojSobe</td>
                        <td>@student.PrebivalisteInfo.Kanton</td>
                        <td>@student.SkolovanjeInfo.Fakultet</td>
                        <td><button onclick="window.location.href='@Url.Action("PregledPodataka", "Uprava", new { id = student.Id })'" class="btn btn-primary border rounded" type="button" style="font-size: 15px;">Pregled</button></td>
                    </tr>
                    }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="left"><button onclick="window.location.href='@Url.Action("Uprava", "Uprava", new { ViewBag.id })'" class="btn btn-primary border rounded" type="button" style="padding: 6px;margin: 15px;padding-left: 23;font-size: 20px; width: 200px;">Gotovo</button></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>