@model EBANK.Models.Filijala

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje filijale</h1>

<h3>Da li ste sigurni da želite obrisati filijalu?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Longitude)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak na listu</a>
    </form>
</div>
