@model EBANK.Models.Filijala

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o filijali</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
