@{

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cimeraj</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapCimeraj.min.css">
    <link rel="stylesheet" href="~/css/stylesCimeraj.css">
</head>

<body>
    @using (Html.BeginForm("posaljiCimeraj", "Student", new { id = ViewBag.id }, FormMethod.Post))
    {
        <h1 class="text-center text-primary" style="font-style: normal;">Cimeraj</h1>
        <div>
            <div class="container text-left" style="width: 1000px;margin: 70px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr style="height: 80px;">
                                        <td>Paviljon</td>
                                        <td><select name="dlPaviljon" style="width: 250px;height: 30px;">
                                                <optgroup label="Izaberite paviljon">
                                                    @foreach (var paviljon in ViewBag.paviljoni)
                                                    {
                                                        <option value="@paviljon.PaviljonId" >@paviljon.Naziv</option>
                                                    }
                                                </optgroup>
                                            </td>
                                    </tr>
                                    <tr style="height: 80px;">
                                        <td>Soba</td>
                                        <td><select name="dlSoba" style="width: 250px;height: 30px;">
                                                <optgroup label="Izaberite sobu">
                                                    @foreach (var sobe in ViewBag.sobe)
                                                    {
                                                        <option value="@sobe.SobaId" >@sobe.BrojSobe</option>
                                                    }
                                                </optgroup>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="height: 80px;">
                                        <td>ID prvog cimera</td>
                                        <td><input name="fldCimer1" type="number" style="width: 250px;"></td>
                                    </tr>
                                    <tr style="height: 80px;">
                                        <td>ID drugog cimera</td>
                                        <td><input name="fldCimer2" type="number" style="width: 250px;"></td>
                                    </tr>
                                    <tr style="height: 150px;">
                                        <td></td>
                                        <td><button class="btn btn-primary" type="submit" style="margin: 50px;">Pošalji zahtjev</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="height: 80px;">Dodatne napomene</td>
                                    </tr>
                                    <tr>
                                        <td><textarea name="fldNpomene" class="form-control-lg" style="width: 400px;height: 209px;"></textarea></td>
                                    </tr>
                                    <tr style="height: 150px;">
                                        <td>
                                            <div class="btn-group" role="group"><button onclick="window.location.href='@Url.Action("Student", "Student", new { ViewBag.id })'" class="btn btn-secondary" type="button" style="margin: 50px;">Odbaci zahtjev</button></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>