@model EParkingFacade

@{
    ViewData["Title"] = "EParking";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 800px;
            width: 100%;
        }

        .container-fluid {
            position: relative;
        }

        #btnRoute {
            position: absolute;
            top: 120px;
            right: 25px;
            width: 100px;
            height: 100px;
        }

        #btnClearRoute {
            position: absolute;
            top: 350px;
            right: 25px;
            width: 100px;
            height: 100px;
        }

        #btnUlazak {
            position: absolute;
            top: 235px;
            right: 25px;
            width: 100px;
            height: 100px;
            font-family: FontAwesome;
            font-size: 25px;
        }
    </style>
    <script src="https://kit.fontawesome.com/3874a11e93.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
            <button id="btnRoute" type="button" class="btn btn-secondary btn-lg" onclick="calculateAndShowRoute()">
                <i class="fas fa-route fa-2x"></i>
            </button>
            <!--Hidden fileds so I can send data-->
            <form asp-action="Map" method="post">
                <div class="form-group">
                    <input id="lat" name="lat" type="hidden" value="" />
                    <input id="lon" name="lon" type="hidden" value="" />
                    <input id="btnUlazak" type="submit" class="btn btn-secondary btn-lg" value="&#xf1b9 &#xf090" />
                </div>
            </form>
            <button id="btnClearRoute" type="button" class="btn btn-danger btn-lg" onclick="removeRoute()">
                <i class="fas fa-trash-alt fa-2x"></i>
            </button>
        </div>
    </div>

    <script>
            var parkinzi = @Html.Raw(ViewBag.Markeri);
            var najbliziParking = @Html.Raw(ViewBag.NajbliziParking);
            var odredisniLat, odredisniLon;
            var map;
            // Initialize and add the map
            function initMap() {
               // The location of Sarajevo
                var sarajevo = { lat: 43.8563, lng: 18.4131 };
                // The map, centered at Sarajevo
                map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 15, center: sarajevo });

                var parkingIcon =
                'https://developers.google.com/maps/documentation/javascript/examples/full/images/parking_lot_maps.png';

                var infoObj = [];
                for (var i = 0; i < parkinzi.length; i++) {
                    var contentString = '<h3>' + 'Naziv: ' + parkinzi[i].naziv + '</h3> ' +
                        '<h3>' + 'Adresa: ' + parkinzi[i].adresa + '</h3> ' +
                        '<h3>' + 'Cijena: ' + parkinzi[i].cijena + ' KM' + '</h3> ' +
                        '<h3>' + 'Slobodna mjesta: ' + parkinzi[i].slobodnaMjesta + '/' + parkinzi[i].kapacitet + '</h3>';
                    var myLatLng = new google.maps.LatLng(parkinzi[i].lat, parkinzi[i].lng);
                    const marker = new google.maps.Marker({
                        position: myLatLng,
                        icon: parkingIcon,
                        map: map
                    });
                    const infoWindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    marker.addListener('click', function () {
                        //zatvaranje starog info prozora
                        if (infoObj.length > 0) {
                            infoObj[0].set("marker", null);
                            infoObj[0].close();
                            infoObj[0].length = 0;
                        }
                        infoWindow.open(marker.get('map'), marker);
                        infoObj[0] = infoWindow;
                    });

                }
                document.getElementById("btnUlazak").disabled = true;
            }

            function calculateAndShowRoute() {
                parkinzi = @Html.Raw(ViewBag.Markeri);
                var positionOptions = {
                    enableHighAccuracy: true,
                    maximumAge: 500
                };
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        window.directionsService = new google.maps.DirectionsService();
                        window.directionsDisplay = new google.maps.DirectionsRenderer();

                        var najbliziLat, najbliziLong, request, brojac = 0;
                        if (najbliziParking == 'true') {
                            najbliziLat = parkinzi[0].lat;
                            najbliziLong = parkinzi[0].lng;
                            minBrojSlobodnih = parkinzi[0].slobodnaMjesta;
                            var minDistance = distanceBetween(position.coords.latitude, position.coords.longitude, najbliziLat, najbliziLong);
                            for (var i = 1; i < parkinzi.length; i++) {
                                var nthMinDistance = distanceBetween(position.coords.latitude, position.coords.longitude, parkinzi[i].lat, parkinzi[i].lng);
                                if ((nthMinDistance < minDistance && parkinzi[i].slobodnaMjesta > 0) ||
                                    (nthMinDistance > minDistance && minBrojSlobodnih == 0 && parkinzi[i].slobodnaMjesta > 0)) {
                                    minDistance = nthMinDistance;
                                    najbliziLat = parkinzi[i].lat;
                                    najbliziLong = parkinzi[i].lng;
                                    minBrojSlobodnih = parkinzi[i].slobodnaMjesta;
                                    brojac++;
                                }
                            }
                            if (brojac == 0 && parkinzi[0].slobodnaMjesta == 0) {
                                swal("Nema slobodnih mjesta", "Trenutno su svi parkinzi popunjeni do svog maksimalnog kapaciteta. Molimo prièekajte slobodno mjesto i osvježavajte stranicu.", "error");
                                document.getElementById("btnUlazak").disabled = false;
                            } else {
                                request = {
                                    origin: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                                    destination: new google.maps.LatLng(najbliziLat, najbliziLong),
                                    travelMode: 'DRIVING'
                                }
                                odredisniLat = najbliziLat;
                                odredisniLon = najbliziLong;
                            }
                        } else {
                            request = {
                                origin: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                                destination: new google.maps.LatLng(@Html.Raw(ViewBag.Latitude), @Html.Raw(ViewBag.Longitude)),
                                travelMode: 'DRIVING'
                            }
                            odredisnilat = @Html.Raw(ViewBag.Latitude);
                            odredisnilon = @Html.Raw(ViewBag.Longitude);
                        }

                        document.getElementById("lat").value = odredisniLat;
                        document.getElementById("lon").value = odredisniLon;

                        directionsDisplay.setMap(map);
                        directionsService.route(request, (result, status) => {
                            if (status == 'OK') {
                                directionsDisplay.setDirections(result);
                            }
                        });

                        document.getElementById("btnUlazak").disabled = false;

                    });
                }

            }

            function removeRoute() {
                window.directionsDisplay.setDirections({ routes: [] });
                document.getElementById("btnUlazak").disabled = true;
            }

            function distanceBetween(lat1, lon1, lat2, lon2) {
                const R = 6371e3;
                const fi1 = lat1 * Math.PI / 180;
                const fi2 = lat2 * Math.PI / 180;
                const deltaFi = (lat2 - lat1) * Math.PI / 180;
                const deltaLambda = (lon2 - lon1) * Math.PI / 180;
                const x = deltaLambda * Math.cos((fi1 + fi2) / 2);
                const y = deltaFi;
                return Math.sqrt(x * x + y * y) * R;
            }

    </script>




    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    @*<script type="text/javascript">
            $(function () {
                $('#btnUlazak').click(function () {
                    //$.post("/EParking/SpasiKoordinate", {
                    //    lat: odredisniLat,
                    //    lon: odredisniLon
                    //});
                    $('#lat').attr('value', odredisniLat);
                    $('#lon').attr('value', odredisniLon);
                });
            });
        </script>*@


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd7K5-Z6imkbJEje_G9aPqEL65uUiOFfc&callback=initMap">
    </script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>