@model EBANK.Models.Klijent

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o klijentu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KorisnickoIme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lozinka)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lozinka)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JMBG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojLicneKarte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojLicneKarte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zanimanje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zanimanje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drzava)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Povratak na listu</a>
</div>
