@model IEnumerable<EParking.Models.ParkingLokacija>

@{
    ViewData["Title"] = "Index";
}



    <div class="landing-section">


        <h1>Parking lokacija</h1>

        <p>
            <a asp-controller="Administrator" asp-action="Account">Nazad na početnu</a>
        </p>

        <p>
            <a asp-controller="Cjenovnik" asp-action="Create">Dodaj</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Naziv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adresa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Long)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kapacitet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BrojSlobodnihMjesta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cjenovnik)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vlasnik)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Long)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kapacitet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrojSlobodnihMjesta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cjenovnik.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vlasnik.ImePrezime)
                        </td>
                        <td>
                            <a asp-controller="ParkingLokacija" asp-action="Edit" asp-route-id="@item.ID">Izmijeni</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
