@model IEnumerable<Cjenovnik>

@{
    ViewData["Title"] = "Index";
}


    <div class="landing-section">



        <h1>Cjenovnik</h1>

        <p>
            <a asp-controller="Administrator" asp-action="Account">Nazad na početnu</a>
        </p>

        <p>
            <a asp-action="Create">Dodaj</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Naziv)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DnevnaCijenaSat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NocnaCijenaSat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CijenaMjesecneKarte)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CijenaGodisnjeKarte)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Popust)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DnevnaCijenaSat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NocnaCijenaSat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CijenaMjesecneKarte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CijenaGodisnjeKarte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Popust)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Izmijeni</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
