@model EBANK.Models.Novost

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o novosti</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeDodavanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeDodavanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sadrzaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sadrzaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prikazana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prikazana)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
