@model IEnumerable<EBANK.Models.Novost>

@{
    ViewData["Title"] = "Index";
}

<h1>Novosti</h1>

<p>
    <a asp-action="Create">Dodaj novu novost</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prikazana)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sadrzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prikazana)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> 
                <a asp-action="Details" asp-route-id="@item.Id">  Detalji</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">  Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
